{{- $description := partial "seo/description.html" . -}}
{{- $authorName := .Site.Params.author.name | default .Site.Params.owner | default "Luca Wu" -}}
{{- $authorDisplayName := .Site.Params.author.displayName | default $authorName -}}
{{- $authorURL := .Site.Params.author.url | default "/about/" | absURL -}}
{{- $personID := printf "%s#person" $authorURL -}}
{{- $websiteID := printf "%s#website" .Site.BaseURL -}}
{{- $sameAs := .Site.Params.author.sameAs | default (slice) -}}
{{- $person := dict "@type" "Person" "@id" $personID "name" $authorName "alternateName" $authorDisplayName "url" $authorURL "sameAs" $sameAs "description" (.Site.Params.author.description | default "") -}}
{{- $website := dict "@type" "WebSite" "@id" $websiteID "url" .Site.BaseURL "name" .Site.Title "description" (.Site.Params.description | default .Site.Params.subtitle | default "") "inLanguage" .Site.Language.Lang "publisher" (dict "@id" $personID) -}}
{{- $graph := slice $person $website -}}

{{- if and .IsPage (or (eq .Section "posts") (eq .Section "startupnotes")) -}}
  {{- $image := "og-image.png" | absURL -}}
  {{- with .Params.cover -}}
    {{- $image = . | absURL -}}
  {{- end -}}
  {{- $article := dict
    "@type" "BlogPosting"
    "@id" (printf "%s#article" .Permalink)
    "mainEntityOfPage" .Permalink
    "url" .Permalink
    "headline" .Title
    "description" $description
    "image" (slice $image)
    "datePublished" (.Date.Format "2006-01-02T15:04:05-07:00")
    "dateModified" (.Lastmod.Format "2006-01-02T15:04:05-07:00")
    "author" (dict "@id" $personID)
    "publisher" (dict "@id" $personID)
    "inLanguage" .Site.Language.Lang
    "isAccessibleForFree" true
  -}}
  {{- with .Params.tags -}}
    {{- $article = merge $article (dict "keywords" (delimit . ", ")) -}}
  {{- end -}}
  {{- $graph = $graph | append $article -}}
{{- end -}}

{{- if eq .RelPermalink "/about/" -}}
  {{- $about := dict "@type" "AboutPage" "@id" (printf "%s#about" .Permalink) "url" .Permalink "name" .Title "description" $description "mainEntity" (dict "@id" $personID) "inLanguage" .Site.Language.Lang -}}
  {{- $graph = $graph | append $about -}}
{{- end -}}

{{- if partial "seo/is-indexable.html" . -}}
  {{- $items := slice (dict "@type" "ListItem" "position" 1 "name" .Site.Title "item" .Site.BaseURL) -}}
  {{- if and .IsPage (or (eq .Section "posts") (eq .Section "startupnotes")) -}}
    {{- $secName := cond (eq .Section "startupnotes") "创业笔记" "日志" -}}
    {{- $secURL := cond (eq .Section "startupnotes") "startupnotes/" "posts/" -}}
    {{- $items = $items | append (dict "@type" "ListItem" "position" 2 "name" $secName "item" ($secURL | absURL)) -}}
    {{- $items = $items | append (dict "@type" "ListItem" "position" 3 "name" .Title "item" .Permalink) -}}
  {{- else if not .IsHome -}}
    {{- $items = $items | append (dict "@type" "ListItem" "position" 2 "name" .Title "item" .Permalink) -}}
  {{- end -}}
  {{- $breadcrumb := dict "@type" "BreadcrumbList" "@id" (printf "%s#breadcrumb" .Permalink) "itemListElement" $items -}}
  {{- $graph = $graph | append $breadcrumb -}}
{{- end -}}

<script type="application/ld+json">
{{ dict "@context" "https://schema.org" "@graph" $graph | jsonify (dict "indent" "  ") | safeJS }}
</script>
