{{ define "main" }}
<article class="post" data-pagefind-ignore>
  <h1 class="post-title">{{ .Title }}</h1>
  <div class="post-content">
    <link href="/search-index/pagefind-ui.css" rel="stylesheet">
    <div id="search"></div>
    <script src="/search-index/pagefind-ui.js"></script>
    <script>
      window.addEventListener("DOMContentLoaded", () => {
        new PagefindUI({
          element: "#search",
          showSubResults: true,
          showImages: false,
          translations: {
            placeholder: "搜索文章…",
            zero_results: "没有找到 [SEARCH_TERM] 的结果",
            many_results: "找到 [COUNT] 条 [SEARCH_TERM] 的结果",
            one_result: "找到 1 条 [SEARCH_TERM] 的结果",
            searching: "搜索 [SEARCH_TERM]…",
            load_more: "加载更多",
            search_label: "搜索本站",
            filters_label: "过滤",
            clear_search: "清除"
          }
        });
      });
    </script>
  </div>
</article>
{{ end }}
